h1{
    border-radius: 20px;
    background-color: rgb(81, 119, 133);
    color: rgb(255, 123, 0);
}
img{
   width: 1300px;
   height: 500px;
   border: 2px solid;
   margin: 25px;
}
h2{
    margin: 200px 0 0 200px;
    background-color:black;
    text-emphasis:none;
}

